body{
	background:#bbbbbb;
	font-family: Arial, Helvetica, sans-seri;
	margin:0 auto;
}
.content{
	margin: 20px auto 20px auto;
	width: 910;
}
.headeer {
	font-sized: 38px
	margin:0 auto;
	padding-top: 30px;
	padding-left:50px
	width:770px;
	height:60px;
	background:#cccccc;
	border:1px #666666 dotted;
	color: violet; 
}
.sidebar {
	width:280px;
	float:left;
	text-algin:left;
	padding:10px;
	background:#888;
	border:1px #666666 dottted;
	font-size:20px;
	margin-top:6px;
}
.main-content{
	padding:10px;
	margin-top:6px;
	width:680px;
	float:right;
	backgroung:#FFF
	border:1px #666666 dotted;
	font-size:16pxpx;
	margin-top:6px;
	color:#333333;
	min-height:220px;